<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="username" value="Acrelec" />
      <add key="password" value="8ffb32c4-8b29-428d-b5e8-896f7ca7890d" />
      <add key="url" value="https://st185l090000.test.connect.paymentsense.cloud" />
      <add key="tid" value="22163665" />
      <add key="reportPath" value="C:\acrelec\PaymentSenseEODReports\EOD_Reports" />
      <add key="logPath" value="C:\acrelec\PaymentSenseEODReports\EOD_Reports\Logs" />
      <add key="mediaType" value="application/connect.v2+json" />
      <add key="installerId" value="ST185L09" />
      <add key="softwareHouseId" value="ST185L09" />
    </appSettings>
</configuration>